<!--
File Name: people.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
Page to show my favourite people
 -->
<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->
    <main class="container ">

        <h1>My Favourite People</h1>

       

        
       


            <% include partials/footer.ejs%>